body{
	background-color:#FFFFFF;
	color:#BF381A;
	
	font-family:Verdana, Geneva, sans-serif;
}

#nav{
	position:relative;
	top:50px;
	left:-20px;
	font-weight:bold;
	float:left;
	width:190px;
	height:900px;
	padding:10px 0px 0px 20px;
	border-right-style:solid;
	border-width:2px;
	background-color:#E9AF32;
	
}
#nav a { text-decoration: none;}
#nav a:link { color:#BF381A; }
#nav a:visited { color:#BF381A; }
#nav a:hover { color:#0A224E; }
#nav ul { 
	list-style-type: none; 
	margin: 0; 
	padding-left:0; 
}
#nav li{
	display:block;
	padding:2px;
}
#logo{
	position:relative;
	left:-8px;
	top:-26px;
	height:76px;
	width:1260px;
	border-bottom-style:solid;
	border-width:2px;
	border-right-style:solid;
	border-color:#0A224E;
	border-width:2px;
	background-color:#E9AF32;
}
#logo p{
	text-align:center;
	position:relative;
	top:16px;
	font-size:25px;
	font-weight:bold;
}
#wrapper{
	position:relative;
	top:-46px;
	left:190px;
	width:1062px;
	height:700px;
	border-right-style:solid;
	border-color:#0A224E;
	border-width:2px;
	
}

#wrapper input, label, textarea, p, h3, select, table, img {
	position:relative;
	top:20px;
	left:-190px;
	
}
#wrapper label{
	float:left;
}
#wrapper img{
	margin:10px;
}
#wrapper table{
	float:left;
}
#footer{
	width:1242px;
	position:relative;
	left:-10px;
	top:-48px;
	text-align:right;
	font-size:.7em;
	font-style:italic;
	padding:10px;
	border-bottom-style:solid;
	border-width:2px;
	border-right-style:solid;
	border-width:2px;
	color:#0A224E;
	background-color:#BF381A;
}
#pics img{
	padding: 0px 5px;
}
#pics{
	padding: 0px 10px;
}
label {
	float:left;
	display:block;
	text-align:right;
	width:120px;
	padding-right:10px;
	
}
textarea, input, select {
	display:block;
	margin-bottom:20px;
}

#mySubmit {
	margin-left:130px;
}