html{
	width:100%;
	min-height:100%;
	border-top:2px solid #000000;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}
body{

	color:#000000;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	width:1000px;
	min-height:1000px;
	margin:0px auto;

}

#nav{
	font-weight:bold;
	width:360px;
	height:70px;
	padding:10px;
	margin:0px auto;
	border-bottom:2px solid #000000;
	position:relative;
	top:-100px;
}
#nav a { text-decoration: none;}
#nav a:link { color:#00CCFF; }
#nav a:visited { color:#00CCFF; }
#nav a:hover { color:#0A224E; }
#nav ul { 
	list-style-type: none; 
	margin: 0; 
	padding-left:0; 
	text-align:center;
}
#nav li{
	display:block;
	padding:20px;
	float:left;
	font-size:22px;
	
}
#logo{
	color:#00CCFF;
	text-align:center;
	font-size:30px;
	font-weight:bold;
	width:1000px;
	border-bottom:2px solid #000000;
	position:relative;
	top:-100px;
}
#wrapper{
	text-align:center;
	width:1000px;

}
#contactHolder{
	width:400px;
	height:600px;
	text-align:center;
	position:relative;
	left:300px;
	top:20px;
}
#homeWrap{
	width:400px;
	height:600px;
	text-align:center;
}
#today{
	text-align:center;
	position:relative;
	left:400px;
	top:-620px;
	width:600px;
}
#today table{
	width:600px;
}
#calendar{
	position:relative;
	top:-300px;
	border-bottom:2px solid #000000;
	border-top:2px solid #000000;
}
#all{
	width:1000px;
	position:relative;
	top:-300px;
	text-align:center;
}
#all table{
	width:1000px;
}
#all h1{
	text-align:left;
}
label {
	float:left;
	display:block;
	text-align:right;
	width:120px;
	padding-right:10px;
	
}
textarea, input, select {
	display:block;
	margin-bottom:20px;
}

#footer{
	width:1000px;
	text-align:left;
	border-top:2px solid #000000;
}